{% block body_html %}
    Hello {{ client.firstName }} {{ client.lastName }}!<br><br>

    Candidates have declined your Job Post {{ jobTitle }}. Please select this <a href="{{ link }}/business/applicants_declined">link</a> if you are interested.
    <br><br>
    Regards,<br>
    the Yes2Work.
{% endblock %}
