{% block body_html %}
    Hello {{ user.firstName }} {{ user.lastName }}!<br><br>

    A new Candidates has just joined the Yes2Work portal. Select this <a href="{{ link }}/business/candidates">link</a> to check them out
    <br><br>
    Regards,<br>
    the Yes2Work.
{% endblock %}