{% block body_html %}

{% endblock %}
<br><br>
Kind Regards<br>
<strong>The Yes2Work Team</strong>
<br><br>
<img src="{{ absolute_url(asset('assets/img/email_logo3.png')) }}" />
<br>
<a href="mailto:support@yes2work.co.za">support@yes2work.co.za</a>
