{% extends 'emails/base_email.html.twig' %}
{% block body_html %}
    Dear {{ user.firstName }}
    <br><br>
    We have seen that you have requested a new password.
    <br><br>
    Please click on this <a href="{{ url }}">link</a> to reset your password
    <br><br>
    Don’t hesitate to get hold of us on <a href="mailto:support@yes2work.co.za">support@yes2work.co.za</a> if you have any questions or feedback.
{% endblock %}
