<div class="login-box">
  <h4 *ngIf="!showResetPass && validToken" class="title-row d-flex margin-bottom--12 d-flex--justify-center"> Reset Password</h4>
  <div *ngIf="!showResetPass && validToken" class="col-lg-12 login-form">
    <div class="col-lg-12 login-form">
      <form [formGroup]="resetPasswordForm">
        <div class="form-group position--relative">
          <input type="password" class="form-control auth-input" formControlName="password" placeholder="Password">
          <label class="requared-label">We require this</label>
        </div>
        <span class="help-bpx margin-bottom--12" *ngIf="resetPasswordForm.controls.password.invalid && !resetPasswordForm.controls.password.untouched">Please enter the Password</span>
        <div class="form-group position--relative">
          <input type="password" class="form-control auth-input" formControlName="verifyPassword" placeholder="Verify password">
          <label class="requared-label">We require this</label>
        </div>
        <span class="help-bpx margin-bottom--12" *ngIf="resetPasswordForm.controls.verifyPassword.invalid && !resetPasswordForm.controls.verifyPassword.untouched">Please enter the Verify password</span>
        <div class="form-group">
          <span class="help-bpx" *ngIf="errorRegistration">{{ errorRegistration }}</span>
        </div>
        <div class="col-lg-12 loginbttm padding-right--0 padding-left--0">
          <div class="col-lg-12 login-btm login-button padding-right--0 padding-left--0">
            <button *ngIf="!buttonPreloader" type="submit" class="btn primary-button full-width" (click)="resetPassword()">Reset Password</button>
            <button *ngIf="buttonPreloader" class="btn primary-button position--relative full-width">
              <div class="loader--tiny"></div>
              Reset Password
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <h4 *ngIf="showResetPass" class="title-row d-flex margin-bottom--12 d-flex--justify-center text-align--center d-flex--align-center position--relative">Reset password successful!</h4>
  <div *ngIf="showResetPass" class="custom-form col-lg-12 login-form">
    <div class="col-lg-12 login-form margin-bottom--24">
      <button style="display: block; margin: 0 auto; margin-top: 15px;" type="submit" class="btn primary-button full-width margin-left--16" (click)="backToLogin()">Back Login</button>
    </div>
  </div>
</div>
