/*
.help-bpx{
  color: #a94442;
}

.container{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%!important;
  width: 100%!important;
}

.login-box {
  height: fit-content;
  margin-top: 0;
  background: #ffffff;
  text-align: center;
  box-shadow: 10px 10px 0px rgba(255, 255, 255, 0.16), 0 3px 6px rgba(255, 255, 255, 0.23);
  padding: 40px 15px;
}

.login-title {
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #002855;
  margin-bottom: 50px;
}

.login-form {
  margin-top: 25px;
  text-align: left;
}

input[type=text] {
  background-color: #ffffff;
  border: none;
  border-bottom: 2px solid #002855;
  border-top: 0;
  border-radius: 0;
  font-weight: bold;
  outline: 0;
  margin-bottom: 20px;
  padding-left: 0;
  color: #002855;
}

input[type=password] {
  background-color: #ffffff;
  border: none;
  border-bottom: 2px solid #002855;
  border-top: 0;
  border-radius: 0;
  font-weight: bold;
  outline: 0;
  padding-left: 0;
  margin-bottom: 20px;
  color: #002855;
}

.form-group {
  margin-bottom: 40px;
  outline: 0;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid #002855;
  outline: 0;
  color: #002855;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0;
}

label {
  margin-bottom: 0;
}

.form-control-label {
  font-size: 10px;
  color: #6C6C6C;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn-outline-primary {
  border-color: #002855;
  color: #002855;
  border-radius: 0;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover, .btn-outline-primary:focus {
  background-color: #002855;
  right: 0;
  color: #ffffff;
}

.login-btm {
  float: left;
}

.login-button {
  padding-right: 0;
  text-align: right;
  margin-bottom: 25px;
}

.login-text {
  text-align: left;
  padding-left: 0;
  color: #002855;
}

.loginbttm {
  padding: 0;
}
.forgot-password{
  text-align: right;

  span{
    text-decoration: underline;
    color: #002855;
    cursor: pointer;
  }
}

.after-forgot{
  top: 40%;
  position: absolute;
}
.after-forgot-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 575px){
  .back{
    padding-left: 0!important;
  }
}
*/
