<div class="video-back">
  <video #backgroundVideo id="background_video" loop muted playsinline autoplay>
    <source src="assets/video/output.mp4" type="video/mp4">
  </video>
</div>
<nav class="navbar navbar-expand-lg">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <div class="navbar-nav mr-auto mt-2 mt-lg-0">
      <a class="navbar-brand" routerLink="/"><img src="/assets/img/email_logo3_1.png"></a>
    </div>
    <div class="form-inline my-2 my-lg-0 margin-right--32">
    </div>
    <div class="form-inline my-2 my-lg-0 desktop-display">
      <button class="btn primary-button left-button" routerLink="/login" routerLinkActive="active-auth">Login</button>
      <button class="btn primary-button center-button reg" routerLink="/register/business" routerLinkActive="active-auth">Employer Registration</button>
      <button class="btn primary-button right-button reg" routerLink="/register/candidate" routerLinkActive="active-auth">Youth Candidate Registration</button>
    </div>
    <div class="form-inline my-2 my-lg-0 mobile-display">
      <span (click)="openSidebar()"><i class="fas fa-bars"></i></span>
    </div>
  </div>
</nav>

<div class="sidebar-column" [ngClass]="{'active': _sharedService.checkSidebar}">
  <div class="sidebar">
    <ul class="accordion css-accordion">
      <li class="accordion-item mobile-display">
        <span (click)="closeSidebar()" class="mobile-close-icon"><i class="fas fa-times"></i></span>
      </li>
      <li class="accordion-item">
        <input class="accordion-item-input" type="checkbox" name="accordion"/>
        <label class="accordion-item-hd" routerLink="/login" routerLinkActive="active-link"><img class="margin-right--12" src="/assets/img/icons/candidates_icon.png"> login</label>
      </li>
      <li class="accordion-item" routerLinkActive="active-link">
        <input class="accordion-item-input" type="checkbox" name="accordion"/>
        <label routerLink="/register/business" routerLinkActive="active-link" class="accordion-item-hd"><img class="margin-right--12" src="/assets/img/icons/candidates_icon.png">Employer Registration</label>
      </li>
      <li class="accordion-item" routerLinkActive="active-link">
        <input class="accordion-item-input" type="checkbox" name="accordion"/>
        <label routerLink="/register/candidate" routerLinkActive="active-link" class="accordion-item-hd"><img class="margin-right--12" src="/assets/img/icons/candidates_icon.png">Youth Candidate Registration</label>
      </li>
    </ul>
  </div>
</div>
