.content-page{
  overflow-y: scroll;
  padding: 20px;
}
.progress-info{
  margin: 20px 0;
}
.my-profile{
  text-transform: uppercase;
}

.text-muted{
  position: absolute;
  top: 110px;
  right: 15px;
}

.refences-info{
  font-size: 14px;
  font-weight: 300;

  @media screen and (max-width: 992px) {
    margin-top: 20px;
  }
}
.radio-buttons-container{
  display: flex;
  align-items: center;
  position: relative;
  top: 1px;
}
$color1: #f4f4f4;
$color2: #3197EE;

.radio {
  margin-right: 20px;

  .radio-label{
    color: #969696;
    font-weight: 300;
    font-size: 13px;
  }

  input[type="radio"] {
    position: absolute;
    opacity: 0;

    + .radio-label {
      &:before {
        content: '';
        background: $color1;
        border-radius: 100%;
        border: 1px solid darken($color1, 25%);
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        position: relative;
        top: -0.2em;
        margin-right: 5px;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }

    &:checked {
      + .radio-label {
        &:before {
          background-color: $color2;
          box-shadow: inset 0 0 0 4px $color1;
        }
      }
    }

    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: $color2;
        }
      }
    }

    &:disabled {
      + .radio-label {
        &:before {
          box-shadow: inset 0 0 0 4px $color1;
          border-color: darken($color1, 25%);
          background: darken($color1, 25%);
        }
      }
    }

    + .radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}

.label-text{
  color: #414041;
  font-size: 14px;
}
.disabled-text{
  color: #bbb;
}

.modal-video-record {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background: rgba(0, 0, 0, .5);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.active {
    display: flex;
    overflow: auto;
  }

  .modal-header{
    width: 450px;
  }

  .modal-body{
    padding: 1rem 2rem;
    width: 450px;
    margin: 0 auto;
    background: #fff;
    flex: inherit;
  }
}

.date-qualification-content{
  .list-input {
    label{
      width: 25%;
    }

    .input-group{
      width: 75%;

      .form-control[readonly]{
        background-color: #ffffff;
      }
    }
  }
}
