<div class="title-description margin-bottom--32">
  <h3 class="margin-bottom--12">CLIENTS</h3>
</div>

<div class="row">
  <h4 class="subtitle-row">New documents awaiting approval</h4>
</div>


<div class="row margin-top--18 margin-bottom--18">
  <div class="col-md-4 d-flex d-flex--justify-start d-flex--align-center padding-right--0 padding-left--0">
    <input type="text" class="input-form full-width padding-right--40" placeholder="Search documents" #search (keyup.enter)="resetArrayPagination();resetSorting();getCandidateFilesApprove(search.value)">
    <button class="btn btn-search margin-left--12" (click)="resetArrayPagination();resetSorting();getCandidateFilesApprove(search.value)"><i class="fas fa-search"></i></button>
  </div>
</div>

<div class="row">

  <ul *ngIf="totalItems > 0" class="pagination top">
    <li>
      <button [disabled]="pager.currentPage === 1" class="btn default-button"
              (click)="setPage(1)">First</button>
    </li>
    <li>
      <button [disabled]="pager.currentPage === 1" class="btn default-button"
              (click)="setPage(pager.currentPage - 1)">Previous</button>
    </li>
    <li *ngFor="let page of pager.pages">
      <button [ngClass]="{'primary-button': pager.currentPage === page}" class="btn default-button"
              (click)="setPage(page)">{{page}}</button>
    </li>
    <li>
      <button [disabled]="pager.currentPage === pager.totalPages" class="btn default-button"
              (click)="setPage(pager.currentPage + 1)">Next</button>
    </li>
    <li>
      <button [disabled]="pager.currentPage === pager.totalPages" class="btn default-button"
              (click)="setPage(pager.totalPages)">Last</button>
    </li>
  </ul>

  <div class="col-md-12 padding-right--0 padding-left--0">
    <div class="table-information full-width margin-bottom--24">
      <div class="head">
        <div class="row-table d-flex">
          <div (click)="sortCandidate('Name')" class="column-table d-flex--justify-between " style="width: 20%">
            <span class="title-column">Name</span>
            <span class="sort-icons">
              <ng-template [ngIf]="orderBy ==='Name'">
                <i *ngIf="!orderSort" class="fas fa-sort-up"></i>
                <i *ngIf="orderSort" class="fas fa-sort-down"></i>
              </ng-template>
              <ng-template [ngIf]="orderBy !== 'Name'">
                <i class="fas fa-sort-up"></i>
                <i class="fas fa-sort-down"></i>
              </ng-template>
            </span>
          </div>
          <div (click)="sortCandidate('Document')" class="column-table d-flex--justify-between " style="width: 20%">
            <span class="title-column">Document</span>
            <span class="sort-icons">
              <ng-template [ngIf]="orderBy ==='Document'">
                <i *ngIf="!orderSort" class="fas fa-sort-up"></i>
                <i *ngIf="orderSort" class="fas fa-sort-down"></i>
              </ng-template>
              <ng-template [ngIf]="orderBy !== 'Document'">
                <i class="fas fa-sort-up"></i>
                <i class="fas fa-sort-down"></i>
              </ng-template>
            </span>
          </div>
          <div class="column-table" style="width: 17%">Client Version</div>
          <div class="column-table" style="width: 18%">Admin Version</div>
          <div class="column-table d-flex--justify-center" style="width: 25%">Actions</div>
        </div>
      </div>
      <div class="body">

        <div *ngIf="paginationLoader" class="row-table not-found-search">
          <div class="content-row d-flex">
            <div class="column-table d-flex--justify-center" style="width: 100%">
              <div class="loader-table44 margin-bottom--12" id="loader-6">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
        </div>

        <div class="row-table" *ngFor="let clientFile of approveClientFileList; let i = index">
          <input type="checkbox" class="accordions__checkbox" id="{{ clientFile?.jobId + clientFile?.url }}">
          <label class="accordions__heading" for="{{ clientFile?.jobId + clientFile?.url }}">{{ clientFile?.firstName }} {{ clientFile?.lastName }} <span class="accordion-item-cta">&#9650;</span></label>
          <div class="content-row d-flex accordions__content">
            <div class="column-table acc border-right-table" style="width: 20%">
              <div class="title-cell">Name</div>
              <div class="description-cell">
                <span>{{ clientFile?.firstName }} {{ clientFile?.lastName }}</span>
              </div>
            </div>
            <div class="column-table border-right-table" style="width: 20%">
              <div class="title-cell">Document</div>
              <div class="description-cell">
                <span>{{ clientFile?.fileName }}</span>
              </div>
            </div>
            <div class="column-table border-right-table" style="width: 17%">
              <div class="title-cell">Client Version</div>
              <div class="description-cell height--29">
                <a (click)="openVerticallyCenterFileClient(contentCv, clientFile, i, false)" target="_blank" class="btn btn-interview cv preview-admin-doc"><i class="fas fa-download"></i> Preview</a>
              </div>
            </div>
            <div class="column-table border-right-table" style="width: 18%">
              <div class="title-cell">Admin Version</div>
              <div class="description-cell height--29">
                <a *ngIf="clientFile?.adminUrl" (click)="openVerticallyCenterFileClient(contentCv, clientFile, i, true)" target="_blank" class="btn btn-interview cv preview-admin-doc"><i class="fas fa-download"></i> Preview</a>
                <div *ngIf="!clientFile?.adminUrl" class="custom-upload">
                  <label *ngIf="checkPreloader[i]?.status" class="btn-interview" data-element="custom-upload-button" style="display: flex; position: relative; width: 100px;">
                    <div class="loader--tiny-file"></div>
                    <i class="fas fa-upload"></i> Upload
                  </label>
                  <label *ngIf="!checkPreloader[i]?.status" class="btn-interview" for="{{ clientFile?.time }}" data-element="custom-upload-button" style="display: flex; position: relative; width: 100px;">
                    <i class="fas fa-upload"></i> Upload
                  </label>
                  <input class="custom-upload__input" (change)="uploadAdminFilesClient(clientFile?.jobId, clientFile?.time, i, null)" #fileClient id="{{ clientFile?.time }}" type="file" data-behaviour="custom-upload-input"/>
                </div>
              </div>
            </div>
            <div class="column-table button-cell" style="width: 25%">
              <div class="title-cell"></div>
              <div class="description-cell d-flex--justify-around d-flex--align-center">
                <a class="view-popup-icon" (click)="openConfirm(confirm, approveClientFileList, 'managedClientFile', clientFile, 'false')"><i class="fas fa-times-circle"></i></a>
                <button [disabled]="!clientFile?.adminUrl" class="btn primary-button" (click)="openConfirm(confirm, approveClientFileList, 'managedClientFile', clientFile, 'true')">Approve</button>
              </div>
            </div>
          </div>

          <ng-template #contentCv let-c="close" let-d="dismiss">
            <button type="button" class="close cv" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body cv">
              <div class="iframe-cv">
                <iframe *ngIf="!checkDataFile" class="doc" [src]="dataFile.url | urlType" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <a *ngIf="!checkDataFile" href="{{ dataFile.url }}" download="{{ dataFile.name }}" style="width: 180px" target="_blank" class="btn btn-interview doc-t preview-admin-doc margin-right--12"><i class="fas fa-download"></i> Download Document</a>

                <iframe *ngIf="checkDataFile" class="doc" [src]="dataFile.adminUrl | urlType" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <a *ngIf="checkDataFile" href="{{ dataFile.adminUrl }}" download="{{ dataFile.adminUrl }}" style="width: 180px" target="_blank" class="btn btn-interview doc-t preview-admin-doc margin-right--12"><i class="fas fa-download"></i> Download Document</a>

                <div *ngIf="checkDataFile" class="custom-upload" style="display: inline-block;">
                  <label *ngIf="checkPreloader[fileIndex]?.status" class="btn-interview" data-element="custom-upload-button" style="display: flex; position: relative; width: 100px;">
                    <div class="loader--tiny-file"></div>
                    <i class="fas fa-upload"></i> Upload another
                  </label>
                  <label *ngIf="!checkPreloader[fileIndex]?.status" class="btn-interview" for="fileList" data-element="custom-upload-button" style="display: flex; position: relative;">
                    <i class="fas fa-upload"></i> Upload another
                  </label>
                  <input class="custom-upload__input" (change)="uploadAdminFilesClient(dataFile?.jobId, dataFile?.time, fileIndex, 'fileList')" #file id="fileList" type="file" data-behaviour="custom-upload-input"/>
                </div>
              </div>
            </div>
          </ng-template>
        </div>

        <div class="row-table not-found-search" *ngIf="approveClientFileList.length === 0 && !paginationFilter && !paginationLoader">
          <div class="content-row d-flex accordions__content">
            <div class="column-table d-flex--justify-center" style="width: 100%">
              <span>Files not found</span>
            </div>
          </div>
        </div>

        <div *ngIf="approveClientFileList.length === 0 && paginationFilter" class="row-table not-found-search">
          <div class="content-row d-flex">
            <div class="column-table d-flex--justify-center" style="width: 100%">
              <div class="loader-table44 margin-bottom--12" id="loader-44">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <ul *ngIf="totalItems > 0" class="pagination bottom">
    <li>
      <button [disabled]="pager.currentPage === 1" class="btn default-button"
              (click)="setPage(1)">First</button>
    </li>
    <li>
      <button [disabled]="pager.currentPage === 1" class="btn default-button"
              (click)="setPage(pager.currentPage - 1)">Previous</button>
    </li>
    <li *ngFor="let page of pager.pages">
      <button [ngClass]="{'primary-button': pager.currentPage === page}" class="btn default-button"
              (click)="setPage(page)">{{page}}</button>
    </li>
    <li>
      <button [disabled]="pager.currentPage === pager.totalPages" class="btn default-button"
              (click)="setPage(pager.currentPage + 1)">Next</button>
    </li>
    <li>
      <button [disabled]="pager.currentPage === pager.totalPages" class="btn default-button"
              (click)="setPage(pager.totalPages)">Last</button>
    </li>
  </ul>

</div>

<div *ngIf="preloaderPage" id="preloader">
  <div id="loader"></div>
</div>

<ng-template #confirm let-c="close" let-d="dismiss">
  <app-admin-confirm-popup [closePopup]="d"
                           [confirmArray]="confirmArray"
                           [confirmFunction]="confirmFunction"
                           [confirmData]="confirmData"
                           [confirmStatus]="confirmStatus"
  ></app-admin-confirm-popup>
</ng-template>
