<div class="title-description margin-bottom--24">
  <h3>EMPLOYER REQUESTED INTERVIEWS</h3>
</div>
<div class="border-bottom margin-bottom--24"></div>
<div class="row margin-bottom--24">
  <div class="col-md-12 d-flex padding-left--0 padding-right--0 d-flex--direction-column">
    <div class="row margin-bottom--12 filter-block-nav">
      <div class="col-md-9 padding-left--0 d-flex d-flex--align-center">
        <h4 class="subtitle-row margin-bottom--0 margin-right--18">Filter</h4>
        <div class="input-group margin-right--12 display-year">
          <input placeholder="Date Start" class="form-control input-form" ngx-mydatepicker #dateStart [ngModel]="modelStartDate" [options]="myOptionsDate" #dp1="ngx-mydatepicker" />
          <span class="input-group-btn margin-right--12">
            <button type="button" class="btn btn-default" (click)="dp1.toggleCalendar()">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </button>
          </span>
        </div>
        <div class="input-group display-year">
          <input placeholder="Date End" class="form-control input-form" ngx-mydatepicker #dateEnd [ngModel]="modelEndDate" [options]="myOptionsDate" #dp2="ngx-mydatepicker"  />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" (click)="dp2.toggleCalendar()">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </button>
          </span>
        </div>
        <button class="btn primary-button margin-left--12" (click)="resetArrayPagination();getInterviewsRequest(dateStart.value, dateEnd.value, status.selectedValues[0])">Date apply</button>
      </div>
      <div class="col-md-3 padding-right--0 padding-left--0">
        <ng-select placeholder="Status" #status [searchable]="false" (change)="resetArrayPagination();getInterviewsRequest(dateStart.value, dateEnd.value, status.selectedValues[0])">
          <ng-option [value]="0">All</ng-option>
          <ng-option [value]="1">Pending</ng-option>
          <ng-option [value]="2">Set Up</ng-option>
        </ng-select>
      </div>
    </div>
  </div>
</div>
<div class="border-bottom margin-bottom--24"></div>
<div class="row margin-bottom--24">
  <div class="col-md-12 padding-right--0 padding-left--0">
    <div class="table-information full-width margin-bottom--24">
      <div class="head">
        <div class="row-table d-flex">
          <div class="column-table" style="width: 10%">Date</div>
          <div class="column-table d-flex--justify-center" style="width: 14%">Industry</div>
          <div class="column-table d-flex--justify-center" style="width: 12%">Position</div>
          <div class="column-table d-flex--justify-center" style="width: 12%">Location</div>
          <div class="column-table d-flex--justify-center" style="width: 18%">Distance from home</div>
          <div class="column-table d-flex--justify-center" style="width: 12%">Days Left</div>
          <div class="column-table d-flex--justify-center" style="width: 13%">Action</div>
          <div class="column-table d-flex--justify-start" style="width: 9%">Status</div>
        </div>
      </div>
      <div class="body">
        <div class="row-table" *ngFor="let job of interviewsRequest; let i = index">
          <input type="checkbox" class="accordions__checkbox" id="{{ job?.jobId }}">
          <label class="accordions__heading" for="{{ job?.jobId }}">{{ job?.jobTitle }} <span class="accordion-item-cta">&#9650;</span></label>
          <div class="content-row d-flex accordions__content">
            <div class="column-table d-flex--justify-center border-right-table" style="width: 10%">
              <div class="title-cell">Date</div>
              <div class="description-cell">
                <span>{{ job?.created | date: 'dd LLL yyyy' }}</span>
              </div>
            </div>
            <div class="column-table d-flex--justify-center border-right-table" style="width: 14%">
              <div class="title-cell">Industry</div>
              <div class="description-cell">
                <span>{{ job?.industry | industryList }}</span>
              </div>
            </div>
            <div class="column-table d-flex--justify-center border-right-table" style="width: 12%">
              <div class="title-cell">Position</div>
              <div class="description-cell">
                <span>{{ job?.jobTitle }}</span>
              </div>
            </div>
            <div class="column-table d-flex--justify-center border-right-table" style="width: 12%">
              <div class="title-cell">Location</div>
              <div class="description-cell">
                <span>{{ job?.addressCity }}</span>
              </div>
            </div>
            <div class="column-table d-flex--justify-center border-right-table" style="width: 18%">
              <div class="title-cell">Distance from home</div>
              <div class="description-cell">
                <span>{{ distanceInterviewsRequest[i] }}</span>
              </div>
            </div>
            <div class="column-table d-flex--justify-center border-right-table" style="width: 12%">
              <div class="title-cell">Days Left</div>
              <div class="description-cell">
                <span>{{ job?.created | daysLapped }}</span>
              </div>
            </div>
            <div class="column-table d-flex--justify-center button-cell center-button border-right-table" style="width: 13%">
              <div class="title-cell"></div>
              <div class="description-cell d-flex--justify-center">
                <a *ngIf="job.jobId" class="view-popup-icon" (click)="openVerticallyCentered(candidateJobPopup, interviewRequest, job, 0)"><i class="fa fa-eye"></i></a>
                <a *ngIf="!job.jobId" class="view-popup-icon" (click)="openVerticallyCentered(candidateJobPopupId, interviewRequest, job, 0)"><i class="fa fa-eye"></i></a>
              </div>
            </div>
            <div class="column-table d-flex--justify-start" style="width: 9%">
              <div class="title-cell">Status</div>
              <div class="description-cell">
                <span *ngIf="job?.status === 1" class="pending">Pending</span>
                <span *ngIf="job?.status === 2" class="setup">Set Up</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row-table not-found-search" *ngIf="interviewsRequest.length === 0">
          <div class="content-row d-flex accordions__content">
            <div class="column-table d-flex--justify-center" style="width: 100%">
              <span>Interview requests not found</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span *ngIf="loadMoreCheck && !paginationLoader" class="job-popup-delete" (click)="loadPagination(dateStart.value, dateEnd.value, status.selectedValues[0])">Load more</span>
    <div *ngIf="paginationLoader" class="loader-table margin-bottom--12" id="loader-6">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>

<div *ngIf="preloaderPage" id="preloader">
  <div id="loader"></div>
</div>

<ng-template #candidateJobPopup let-cc="close" let-dc="dismiss">
  <app-candidate-job-popup [closePopup]="dc"
                           [job]="currentJob"
                           [jobArray]="jobArray"
                           [statusButtonJob]="statusButtonJob"
  ></app-candidate-job-popup>
</ng-template>

<ng-template #candidateJobPopupId let-cc="close" let-dc="dismiss">
  <app-candidate-requested-interviews-id [closePopup]="dc"
                           [job]="currentJob"
                           [jobArray]="jobArray"
                           [statusButtonJob]="statusButtonJob"
  ></app-candidate-requested-interviews-id>
</ng-template>

