{% extends 'emails/base_email_admin.html.twig' %}
{% block body_html %}
    A Candidate has just requested to Reactivate their account on Yes2Work.
    <br><br>
    Please click <a href="{{ link }}">here</a> to view the Candidate’s profile and access their contact details.
{% endblock %}
