{% extends 'emails/base_email_admin.html.twig' %}
{% block body_html %}
    {{ user.firstName }} {{ user.lastName }} has just edited their job {{ job.jobTitle }} on Yes2Work.
    <br><br>
    Please click <a href="{{ link }}">here</a> to view the job post and review what was edited.
{% endblock %}
