{% extends 'emails/base_email_admin.html.twig' %}
{% block body_html %}
    A candidate has uploaded a document on Yes2Work and is awaiting your approval
    <br><br>
    Please click <a href="{{ link }}">here</a> to view the video or document awaiting approval.
{% endblock %}
